 body {
     font-family: Arial, sans-serif;
     background-color: #f2f2f2;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
 }

 .forgot-password-container {
     background-color: #fff;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 300px;
     text-align: center;
 }

 .forgot-password-container h2 {
     margin-bottom: 20px;
 }

 .forgot-password-container input[type="email"] {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
 }

 .forgot-password-container input[type="submit"] {
     width: 100%;
     padding: 10px;
     background-color: #d0bcda;
     border: none;
     border-radius: 5px;
     color: #fff;
     font-size: 16px;
     cursor: pointer;
 }

 .forgot-password-container input[type="submit"]:hover {
     background-color: #333;
 }