.back-button:hover {
    background-color: #218838;
}

.back-button {
    position: static;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #d0bcda;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;

}


.mpho {
    width: 100vw;
    height: 110%;
    z-index: -1;
}


